spring:
  application:
    name: whoreads

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: ${USER_NAME}
    password: ${USER_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  # JPA (공통 설정)
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    show-sql: true
    open-in-view: false

  # Jackson (공통 포맷)
  jackson:
    property-naming-strategy: SNAKE_CASE
    time-zone: Asia/Seoul

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  mail:
    host: smtp.naver.com
    port: 465
    username: ${MAIL_ID:dummy_user@naver.com}
    password: ${MAIL_PASSWORD:dummy_password}
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
            trust: smtp.naver.com
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
            port: 465

aladin:
  api:
    key: ${ALADIN_KEY}
    url: "http://www.aladin.co.kr/ttb/api/ItemSearch.aspx"

# Server
server:
  port: 8080

# Logging
logging:
  level:
    root: INFO
    whoreads.backend: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

management:
  endpoints:
    web:
      base-path: /api      # 기본 /actuator를 /api로 변경
      exposure:
        include: health    # health 엔드포인트만 노출
  endpoint:
    health:
      show-details: always # DB 상태 등을 포함한 상세 정보 출력

# JWT (기본 구조만 공유)
jwt:
  # 실제 배포 시에는 환경변수로 주입하거나 application-prod.yml에서 JWT 관련 설정을 따로 관리함
  secret: ${JWT_SECRET:d2hvcmVhZHMtdGVzdC1zZWNyZXQta2V5LWZvci1qd3QtZGV2ZWxvcG1lbnQtb25seQ==}

  # 기본값(3600000 = 1시간)을 넣어두되, 환경 변수가 있으면 그걸 우선시함
  access-token-validity: ${JWT_ACCESS_EXP:3600000}

  # 기본값(604800000 = 7일)
  refresh-token-validity: ${JWT_REFRESH_EXP:604800000}

firebase:
  secret:
    path: ${FIREBASE_SECRET_PATH:firebase/secret-key.json}
