name: CD Production

on:
  push:
    branches: [main]

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod
      docker_tag: prod-latest
      spring_profile: prod
    secrets: inherit
