name: CD Staging

on:
  push:
    branches: [develop]

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: staging
      docker_tag: staging-latest
      spring_profile: staging
    secrets: inherit
