name: CI

on:
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Firebase secret key
        run: |
          mkdir -p ./src/main/resources/firebase
          echo "${{ secrets.FIREBASE_SECRET_JSON_BASE64 }}" | base64 -d > ./src/main/resources/firebase/secret-key.json

      - name: Build with Gradle
        run: ./gradlew build -x test
      - name: Run tests
        run: ./gradlew test
        env:
          FIREBASE_SECRET_PATH: src/main/resources/firebase/secret-key.json
